/* Clase 'inverso' que define el fondo negro y texto blanco */
.inverso {
    background-color: black;
    color: white;
  }
  
body {
    background-color: white;
    color: black;
}

ul {
    background-color: white;
    color: black;
    padding: 10px;
    list-style-type: none;
    width: 150px;
  }